cachetools==5.5.2 ; python_version >= "3.9" and python_version < "4.0"
certifi==2025.1.31 ; python_version >= "3.9" and python_version < "4.0"
charset-normalizer==3.4.1 ; python_version >= "3.9" and python_version < "4.0"
google-api-core==2.24.1 ; python_version >= "3.9" and python_version < "4.0"
google-api-python-client==2.162.0 ; python_version >= "3.9" and python_version < "4.0"
google-auth-httplib2==0.2.0 ; python_version >= "3.9" and python_version < "4.0"
google-auth-oauthlib==1.2.1 ; python_version >= "3.9" and python_version < "4.0"
google-auth==2.38.0 ; python_version >= "3.9" and python_version < "4.0"
googleapis-common-protos==1.68.0 ; python_version >= "3.9" and python_version < "4.0"
httplib2==0.22.0 ; python_version >= "3.9" and python_version < "4.0"
idna==3.10 ; python_version >= "3.9" and python_version < "4.0"
oauthlib==3.2.2 ; python_version >= "3.9" and python_version < "4.0"
proto-plus==1.26.0 ; python_version >= "3.9" and python_version < "4.0"
protobuf==5.29.3 ; python_version >= "3.9" and python_version < "4.0"
pyasn1-modules==0.4.1 ; python_version >= "3.9" and python_version < "4.0"
pyasn1==0.6.1 ; python_version >= "3.9" and python_version < "4.0"
pyparsing==3.2.1 ; python_version >= "3.9" and python_version < "4.0"
pyyaml==6.0.2 ; python_version >= "3.9" and python_version < "4.0"
requests-oauthlib==2.0.0 ; python_version >= "3.9" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.9" and python_version < "4.0"
rsa==4.9 ; python_version >= "3.9" and python_version < "4"
uritemplate==4.1.1 ; python_version >= "3.9" and python_version < "4.0"
urllib3==2.3.0 ; python_version >= "3.9" and python_version < "4.0"
